<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Draw a polyline</title>

    <meta NAME='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src=https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js></script>
    <link href=https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css rel="stylesheet" />

    <script src=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js></script>
    <link rel="stylesheet" href=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css type="text/css" />

    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}">
</head>

<body>
<div id="map"></div>
<script src="{{url_for('static', filename='js/mapbox.js') }}"></script>
<script src="{{url_for('static', filename='js/route.js') }}"></script>
<script src="{{url_for('static', filename='js/hospitals.js') }}"></script>
<script src="{{url_for('static', filename='js/schools.js') }}"></script>
</body>
</html>
